body{
    font-family: "Sans Noto", "Hiragino Sans GB", Arial, Helvetica, "微软雅黑", sans-serif;
}
.x-body ,.x-form-item-label-default,.x-btn-inner-default-toolbar-small,.x-form-text-default,.x-grid-item,.x-panel-header-title-default,.x-tab-inner-default,.x-panel-body-default{
    font-family: "Sans Noto", "Hiragino Sans GB", Arial, Helvetica, "微软雅黑", sans-serif;
    font-weight: 500;
}
.x-boundlist-item{
    font-family: "Sans Noto", "Hiragino Sans GB", Arial, Helvetica, "微软雅黑", sans-serif;
}
.shfs-top .x-form-item-label-inner-default,.shfs-top .x-btn-inner-default-toolbar-small{
    color: #FFFFFF;
}
.shfs-top .x-btn-over.x-btn-default-toolbar-small{
    background-color: #444444;
}
.shfs-top .x-btn-icon-el-default-toolbar-small.x-btn-glyph{
    color: #fff;
    opacity: 1;
}
.shfs-top{
    background: #27211F;
    color: #FFFFFF;
}
.shfs-menu .x-tree-view,.shfs-menu .x-grid-item{
    background: #F0F0EF;
    font-weight: bold;
}
.shfs-menu .x-grid-item{
    color: #666666;
}
.shfs-menu .x-title-text-default{
    font-weight: bold;
    color: #433E3C;
}
.x-toolbar-default-docked-bottom{
    background: #F5F5F5;
}
.x-toolbar-text-default{
    font-family: "Sans Noto", "Hiragino Sans GB", Arial, Helvetica, "微软雅黑", sans-serif;
    font-weight: bold;
}
.x-column-header{
    font-family: "Sans Noto", "Hiragino Sans GB", Arial, Helvetica, "微软雅黑", sans-serif;
    border-right:none;
    font-weight: bold;
    background: #E7E7E6;
}
.x-panel-header-title-default{
    font-weight: bold;
    color: #433E3C;
}
.x-grid-with-col-lines .x-grid-cell{
    border-right:none;
}
.x-grid-row-checker, .x-column-header-checkbox .x-column-header-text {
    height: 15px;
    width: 15px;
    background-image: url(../img/checkbox.png);
    line-height: 15px
}
.shfs-top-tab .x-tab-bar-default-top > .x-tab-bar-body-default{
    padding: 0;
}
.shfs-top-tab .x-tab-default{
    background: #f8f8f7;
    border-color:#f8f8f7;
    padding: 12px 15px 8px 15px;
    margin-left: -5px;
}
.shfs-top-tab .x-tab.x-tab-active.x-tab-default{
    border: none;
    border-bottom: 2px solid #d0aa58;
    background: none;
    border-radius: 0;
    padding: 12px 15px 8px 15px;
    margin-left: 0;
}
.shfs-top-tab .x-tab-default .x-tab-close-btn{
    top: 14px;
    right: 8px;
}
.shfs-top-tab .x-tab-default.x-tab-active .x-tab-close-btn{
    background-position: 0 0;
}
.shfs-top-tab .x-tab.x-tab-active.x-tab-default .x-tab-inner-default{
    color: #d0aa58;
}
.shfs-tab .x-tab-bar-default-top > .x-tab-bar-body-default{
    padding: 0;
    background: #FFFFFF;
    border-bottom: 2px solid #d0aa58;
}
.shfs-tab .x-tab-default{
    background: #FFFFFF;
    border-color:#FFFFFF;
    padding: 8px 15px 4px 15px;
    margin-left: -5px;
}
.x-tab-default-top.x-tab-focus.x-tab-active{
    box-shadow: none;
}
.shfs-tab .x-tab.x-tab-active.x-tab-default{
    border-color:#d0aa58;
    background-color:#d0aa58;
    border-radius: 0;
    padding: 8px 15px 4px 15px;
    margin-left: 0;
}
.shfs-tab .x-tab-bar-default{
    border-bottom: 2px solid #d0aa58;
}
.shfs-tab .x-tab-bar-horizontal > .x-tab-bar-body-default{
    min-height: inherit;
}
.shfs-tab .x-panel-body-default{
    margin-top: 2px;
}
.shfs-tab .x-tab.x-tab-active.x-tab-default .x-tab-inner-default{
    color: #FFFFFF;
}
.x-btn-default-toolbar-small{
    background: #ffffff;
    border: 2px solid #d0aa58;
    padding: 5px 8px 3px 8px;
    border-radius: 0;
}
.x-tool-img{
    background-image: url(../img/tool-sprites.png);
}
.x-panel-header-title-default > .x-title-icon-wrap-default > .x-title-glyph{
    color: #d0aa58;
}
.x-window-header-title-default{
    color: #27211F;
    font-weight: bold;
    font-family: "Sans Noto", "Hiragino Sans GB", Arial, Helvetica, "微软雅黑", sans-serif;
}
.x-btn-default-small{
    background: #ffffff;
    border: 2px solid #d0aa58;
    padding: 5px 8px 3px 8px;
    font-weight: 500;
}
.x-btn-over.x-btn-default-small{
    background: #ffffff;
    border: 2px solid #dcba70;
    padding: 5px 8px 3px 8px;
    color: #433E3C;
}
.x-btn-icon-el-default-small.x-btn-glyph{
    color: #433E3C;
}
.x-btn-inner-default-small{
    font-family: "Sans Noto", "Hiragino Sans GB", Arial, Helvetica, "微软雅黑", sans-serif;
    color: #433E3C;
    font-weight: 500;
}