<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
             http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

  <!--引入myBatist的配置文件-->
  <import resource="classpath*:config/spring/spring-mybatis.xml"/>
  <!--引入springMVC的配置文件-->
  <import resource="classpath*:config/spring/spring-mvc.xml"/>

  <!--配置扫描的service,注入bean-->
  <context:component-scan base-package="com.lhy.ssm" use-default-filters="false">
    <context:include-filter expression="com.lhy..service..*ServiceImpl" type="aspectj"/>
    <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
  </context:component-scan>


  <!--事物管理器-->
  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource" />
  </bean>

  <!--aop切面-->
  <aop:config>
    <aop:pointcut id="servicePointcut" expression="execution(* com.lhy..service..*ServiceImpl(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="servicePointcut"/>
  </aop:config>

  <!--声名式事物配置-->
  <tx:advice id="txAdvice" transaction-manager="transactionManager">
    <tx:attributes>
      <tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
      <tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
      <tx:method name="*" propagation="REQUIRED"/>
    </tx:attributes>
  </tx:advice>

  <!--<aop:config>-->
    <!--<aop:pointcut id="servicePointcut" expression="within(com.lhy..service..*ServiceImpl)-->
        <!--and not within(@org.springframework.transaction.annotation.Transactional *)"/>-->
    <!--<aop:advisor advice-ref="txManager" order="1" pointcut-ref="servicePointcut"/>-->
  <!--</aop:config>-->

  <!--编程式事物配置-->
  <tx:annotation-driven transaction-manager="transactionManager"/>

  <aop:aspectj-autoproxy/>
</beans>