<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/task
            http://www.springframework.org/schema/task/spring-task.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

  <!--配置扫描的service,注入bean-->
  <context:component-scan base-package="com.oceanleo" use-default-filters="false">
    <context:include-filter expression="com.oceanleo..service..*ServiceImpl" type="aspectj"/>
    <context:include-filter expression="org.springframework.stereotype.Component" type="annotation"/>
  </context:component-scan>

  <!--<aop:config>-->
    <!--<aop:pointcut id="servicePointcut" expression="within(com.lhy..service..*ServiceImpl)-->
        <!--and not within(@org.springframework.transaction.annotation.Transactional *)"/>-->
    <!--<aop:advisor advice-ref="txManager" order="1" pointcut-ref="servicePointcut"/>-->
  <!--</aop:config>-->

  <aop:aspectj-autoproxy/>

  <!--调度配置-->
  <bean id="domainTask" class="com.oceanleo.project.ssm.support.task.DomainTask"/>
  <task:scheduled-tasks>
    <task:scheduled ref="domainTask" method="taskTest" cron="0 0/1 * 1/1 * ?"/>
  </task:scheduled-tasks>
</beans>