<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhy.ssm.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.lhy.ssm.po.User">
    <id column="id" property="id"/>
    <result column="user_name" property="username"/>
    <result column="password" property="password"/>
  </resultMap>
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id,user_name from user where id=#{id}
  </select>
</mapper>